<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="campground[location]" id="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price" name="campground[price]" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="campground[description]" id="description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="file" class="form-control" id="images" name="images" aria-describedby="images" aria-label="Upload" multiple>
                    <button class="btn btn-outline-secondary" type="button" id="images">Browse</button>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
            
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>

